<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
<connectionStrings>
    <add name="groupDBCS" connectionString="Data Source=dcm.uhcl.edu; Initial Catalog=c563317sp02g1; Persist Security Info=True; User ID=c563317sp02g1; Password= 3313259" />
    <add name="projectUltraBusDB" connectionString="Data Source=dcm.uhcl.edu;Initial Catalog=c563317sp02g1;Persist Security Info=True;User ID=c563317sp02g1;Password=3313259"
        providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>
